*{
    margin:0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(51, 48, 48);
    padding: 17px;
    color:white;
    list-style: none;
    display: flex;
    align-items: center;
    /* aling items work on hights make center */
    justify-content: space-around;
    /* justify-content work on row like make center; */
}
.logo-photo{
    width: 147px;
   
}
.menus{
    display: flex;
}
.list{
    margin: 10px;
    font-size: 17px;
    padding-right: 7px;
    cursor: pointer;
    }
.list:hover{
    color: rgb(81, 81, 180);
}
.banner-container{
    display: flex;
    align-items: center;
    height: 100vh; /*(vh means vertical hight) */
    justify-content: space-around;
    background-image: url("./images/background.png"),
    linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
    color: white;
}
.banner-img{
    width: 300px;
}
.title {
    font-size: 38px;
    font-weight: bold;
}
.title-small{
    font-size: 19px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.btn{
    padding: 9px 9px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 9px;
    font-size: 15px;
}