*{
    margin:0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(51, 48, 48);
    padding: 17px;
    color:white;
    list-style: none;
    display: flex;
    align-items: center;
    /* aling items work on hights make center */
    justify-content: space-around;
    /* justify-content work on row like make center; */
}
.logo-photo{
    width: 147px;
   
}
.menus{
    display: flex;
}
.list{
    margin: 10px;
    font-size: 17px;
    padding-right: 7px;
    cursor: pointer;
    }
.list:hover{
    color: rgb(81, 81, 180);
}
.banner-container{
    display: flex;
    align-items: center;
    height: 100vh; /*(vh means vertical hight) */
    justify-content: space-around;
    background-image: url("./images/background.png"),
    linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
    color: white;
}
.banner-img{
    width: 300px;
}
.title {
    font-size: 38px;
    font-weight: bold;
}
.title-small{
    font-size: 19px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.btn{
    padding: 9px 9px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 9px;
    font-size: 15px;
}
.about-container{
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 70vh;
}
.section2-photo{
    width: 300px;
    padding-left: 176px;

}
.about-second{
    padding-right: 97px;
    padding-bottom: 164px;
}
.ab-h1{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}
.box-sec{
    background-color:rgb(53, 53, 53);

}
.service-container{
    display: flex;
    justify-content: space-between;
    padding-left: 175px;
    padding-right: 175px;
    height: 70vh;
    
}
.box{
    width: 200px;
    height: 280px;
    border: 2px solid gray;
    border-radius: 12px;
    box-shadow: 4px 4px 15px gray;
    text-align: center;
    padding-top: 10px;
    background-color:rgb(68, 66, 66);
    color: white;
}
.box-p{
    padding: 12px 10px
}
.icon{
    width: 70px;
}
.box-heading{
    text-align: center;
    font-size: 50px;
    padding: 20px;
    color: white;

}
.box-btn2{
    background-color: rgb(87, 84, 84);
}

.logo-footer-image{
    width: 150px;
    padding: 10px;
}
.p-lorem{
    padding: 10px;
}
.footerBB{
    width: 200px;
    height: 200px;
}
.footerAA{
    width: 250px;
    height: 200px;
}
.footer{
    width: 75%;
}
.footer-last{
    background-color: rgb(31, 30, 30);
    color: white;
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content:space-around;
}
.fot-h4{
    text-align: center;
    font-size: 22px;
}
.fot-boss{
    list-style: none;
    padding-left: 25px;
    padding-top:10px;
    
}
.fot-boss li{
    list-style: none;
}
.copyright{
    height: 8vh;
    background-color: rgb(31, 30, 30);
    color: white;
    text-align: center;
    
}
.fot-hr{
    width:50%;
    margin:0 auto;
    }
